button {
    background-color: rgb(57, 158, 240);
    border: none;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    color: white;
    transition: all 0.2s ease;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  flex-direction: column;
  min-height: 100vh;
}

.calculator {
  width: 330px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.display {
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: auto; 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 5px;
}

.clear {
  grid-column: span 4;
  background:#007acc;
  color:white;
}

h1 {
text-align: center;
color: #007acc;
font-family: 'Segoe UI', sans-serif;
}

button:hover {
transform: translateY(-3px);
box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.button-container {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
}