.button {
    background-color: rgb(57, 158, 240);
    border: none;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}