@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #007acc;
  padding: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

button {
    background-color: rgb(57, 158, 240);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

.addNote {
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  margin: 10px;
}

.note-row {
  background: #ffffff;
  margin: 10px;
}

.note-editor {
  min-height: 200px;
  height: auto;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

.note-editor::-webkit-scrollbar {
  display: none;
}

.note-controls {
  height: 50px;
  width: flex;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid;
}

.note-controls div {
  width: 1000px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  background: #eeeeee;
  border-radius: 1000px;
  line-height: 30px;
}

.note-controls img {
  height: 25px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.lineThrough {
  text-decoration: line-through;
}